docs/project specification/project specification.aux
docs/project specification/project specification.fdb_latexmk
docs/project specification/project specification.fls
docs/project specification/project specification.log
docs/project specification/project specification.synctex.gz
