docs/project specification/project specification.aux
docs/project specification/project specification.fdb_latexmk
docs/project specification/project specification.fls
docs/project specification/project specification.log
docs/project specification/project specification.synctex.gz
docs/project report/Group 18 project report.synctex.gz
docs/project report/Group 18 project report.run.xml
docs/project report/Group 18 project report.log
docs/project report/Group 18 project report.fls
docs/project report/Group 18 project report.fdb_latexmk
docs/project report/Group 18 project report.blg
docs/project report/Group 18 project report.bcf
docs/project report/Group 18 project report.bbl
docs/project report/Group 18 project report.aux
docs/project report/Group 18 project report.toc
src/server/__pycache__
src/server/.vscode/settings.json
