.Rover_Settings {
    position: relative;
    margin-left: 20%;
    margin-top: 4%;
    width: 60%;
}

.Auto_mode {
    font-size: 20px;
    text-align: left;
}

.Auto_mode_title {
    position: relative;
    width: 50%;
}

.Auto_mode_switch {
    position: relative;
    width: 20%;
    margin-top: -7%;
    margin-left: 80%;
}

.react-switch {
    vertical-align: middle;
    margin-left: 4px;
}
