/* Sensor Panel */

.SensorPanel {
    position: relative;
    top: 5%;

    font-size: 20px;
    color: #D1E8E2;
    background-color: #272727;
    text-align: center; 
}

.Time {
    position: relative;
    top: 15%;
}

.TimeTitle {   
    width: 40%;
    margin-left: 10%;
}

.TimeValue {    
    width: 60%;
    margin-left: 35%;
    margin-top: -3.5%;
}

.Battery {
    position: relative;
    margin-top: 5%;

    background-color: #272727;
}

.BatteryTitle {   
    width: 40%;
    margin-left: 10%;
}

.BatteryValue {    
    width: 40%;
    margin-left: 55%;
    margin-top: -3.5%;
}

.DistanceRemaining {
    position: relative;
    margin-top: 5%;

    background-color: #272727;
}

.DistanceRemainingTitle {   
    width: 40%;
    margin-left: 10%;
}

.DistanceRemainingValue {    
    width: 40%;
    margin-left: 55%;
    margin-top: -3.5%;
}

.DistanceTravelled {

    position: relative;
    margin-top: 5%;

    background-color: #272727;
}

.DistanceTravelledTitle {   
    position: relative;
    width: 40%;
    margin-left: 10%;
}

.DistanceTravelledValue {    
    position: relative;
    width: 40%;
    margin-left: 55%;
    margin-top: -3.5%;
}
