/* Sensor Panel */

.SensorPanel {
    position: relative;
    top: 5%;

    font-size: 20px;
    color: #D1E8E2;
    text-align: left; 
}

.Time {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto;

    position: relative;
    top: 15%;

    background-color: #272727;
}

.Battery {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto;

    position: relative;
    top: 25%;

    background-color: #272727;
}

.DistanceRemaining {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto;

    position: relative;
    top: 35%;

    background-color: #272727;
}

.DistanceTravelled {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto;

    position: relative;
    top: 45%;

    background-color: #272727;
}
