<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/index.css">

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mars Rover Control Centre</title>

    <!-- 
    <script type="text/javascript" charset="utf-8">
      let TURN = 0;
      paper.install(window);
      console.log("connecting to {{ url }} ...")
      const socket = io("{{ url }}");
      socket.on("timer", (data) => {
        const { turn, time } = data;
        TURN = turn;
        if (time<0) {
          document.getElementById("timer").innerText = ``
        } else {
          document.getElementById("timer").innerText = `${time}s`
        }
      })
    </script>
    -->
  </head>

  <body>

    <div style="width: 100%; height: 100vh;";>
      <div style="float: left; width: 35.4%; height: 100%;">
        <div style="float: up; width: 100%; height: 42.5%;"> 
          Left U - Rover sensor readings
        </div>

        <div style="float: down; width: 100%; height: 57.5%;"> 
          Left L - Rover settings
        </div>
      </div>

      <div style="float: left; width: 29.2%; height: 100%;">
        <div style="float: up; width: 100%; height: 55%;"> 
          Middle U - Map
        </div>

        <div style="float: down; width: 100%; height: 45%;"> 
         <p> Navigation interface </p> 

          <!-- Navigation button definitions -->
          <button id="Up-button">Up</button>
          <button id="Down-button">Down</button>
          <button id="Left-button">Left</button>
          <button id="Right-button">Right</button>
          <button id="Halt-button">Halt</button> 
        </div>
      </div>

      <div style="float: left; width: 35.4%; height: 100%;">
        <div style="float: up; width: 100%; height: 42.5%;"> 
          Right U - Terminal status
        </div>

        <div style="float: down; width: 100%; height: 57.5%;"> 
          Right L - Command center settings
        </div>
      </div>
      <br style="clear: left;" />
     </div>
     
    





  </body>

</html>